.navbar__component {
     width: 100vw;
     height: 60px;
     background-color: #131A22;
     display: flex
}
.navbar__logo {
    background: url('https://ik.imagekit.io/cbh8zu7mn/sprite_350x.png?ik-sdk-version=javascript-1.4.3&updatedAt=1675222926455') no-repeat -9px -50px;
	width: 98px;
	height: 31px;
    margin: 18px;
}
.navbar__locator {
    display:flex;
    margin: 20px 0px;
}
.navbar__hello_text {
    color: white;
    font-size: 12px;
    margin-left: 5px;
}
.navbar__location {
    color: white;
    font-weight: bold;   
    margin-left: 5px;
}
.navbar__locatorImage {
    background: url('https://ik.imagekit.io/cbh8zu7mn/sprite_350x.png?ik-sdk-version=javascript-1.4.3&updatedAt=1675222926455') no-repeat -70px -378px;
	width: 16px;
	height: 18px;
}
.navbar__searchbox {
    width: 640px;
    margin-top: 8px;
    height: 38px;
}
.navbar__searchicon {
    background: url('https://ik.imagekit.io/cbh8zu7mn/sprite_350x.png?ik-sdk-version=javascript-1.4.3&updatedAt=1675222926455') no-repeat -9px -289px;
	width: 23px;
	height: 23px;
    margin: 12px;
}
.navbar__searchcomponent{
    display: flex;
}
.navbar__searchboxdiv {
    background-color: #FEBE68; 
    height: 44px;
    width: 48px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 8px; 
}
.navbar__dropdown {
    width: 60px;
    height: 44px;
    margin-top: 8px;
    margin-left: 5px;
    background-color: #e6e5e5;
    border-radius: 5px 0px 0px 5px;
    text-align-last: center; 
}
.navbar__signin {
    width: 130px;
    margin-top: 10px;
    margin-left: 50px;
}
.navbar__returns {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.navbar__cart {
     display: flex;
     margin-top: 15px;
}
.navbar__text {
    color: white;
}

.cart__image {
    background: url('https://ik.imagekit.io/cbh8zu7mn/sprite_350x.png?ik-sdk-version=javascript-1.4.3&updatedAt=1675222926455') no-repeat -9px -339px;
	width: 40px;
	height: 28px;   
}
.navbar__text_cart {
    margin-top: 15px;
    font-weight: bold;
    position: relative;
    left: -14px;
}
.cart__number_items {
    position: relative; 
    left: -21px; 
    top: -3px;
    color: #F08805
}
.navigation__footer {
    width: 100vw;
    height: 30px;
    background-color: #131A22;
    color: white;
    display: flex;

}

.navbar__footer_text {
    margin: 5px 10px; 
    font-size: 14px;
    font-weight: bold;
}